.DS_Store
/.composer
/.direnv
/.env
/.env.dottie-backup
/.idea
/.vscode
/.phpunit*
/bootstrap/cache
/docker-compose-state/
/node_modules
/public/hot
/public/storage
/public/vendor/horizon
/public/build
/storage/*.key
/storage/docker
/vendor
*.log

# Exceptions - these *MUST* be last
!/.vscode/settings.json
!/.vscode/extensions.json
!/bootstrap/cache/.gitignore
!/public/vendor/horizon/.gitignore

