name: pixelfed
type: laravel
docroot: public
php_version: "8.4"
webserver_type: nginx-fpm
disable_settings_management: true
webimage_extra_packages: [
    "ffmpeg",
    "bzip2",
    "curl",
    "git",
    "moreutils",
    "procps",
    "unzip",
    "tzdata",
    "zip",
    "gifsicle",
    "jpegoptim",
    "optipng",
    "pngquant",
    "mariadb-client",
    "postgresql-client",
    "php${DDEV_PHP_VERSION}-bcmath",
    "php${DDEV_PHP_VERSION}-curl",
    "php${DDEV_PHP_VERSION}-gd",
    "php${DDEV_PHP_VERSION}-imagick",
    "php${DDEV_PHP_VERSION}-intl",
    "php${DDEV_PHP_VERSION}-mbstring",
    "php${DDEV_PHP_VERSION}-redis",
    "php${DDEV_PHP_VERSION}-vips",
    "php${DDEV_PHP_VERSION}-xml",
    "php${DDEV_PHP_VERSION}-yaml",
    "php${DDEV_PHP_VERSION}-zip",
    "php${DDEV_PHP_VERSION}-ffi"
  ]
web_environment:
  - REDIS_HOST=ddev-pixelfed-redis
  - QUEUE_DRIVER=redis
  - BROADCAST_DRIVER=redis
  - CACHE_DRIVER=redis
  - SESSION_DRIVER=redis
  - QUEUE_DRIVER=redis
  - MAIL_MAILER=smtp
  - MAIL_HOST=localhost
  - MAIL_PORT=1025
  - MAIL_USERNAME=null
  - MAIL_PASSWORD=null
  - MAIL_ENCRYPTION=null
  - APP_NAME=PixelfedTest
  - APP_ENV=local
  - APP_KEY=base64:lwX95GbNWX3XsucdMe0XwtOKECta3h/B+p9NbH2jd0E=
  - APP_DEBUG=true
  - APP_URL=https://pixelfed.ddev.site
  - APP_DOMAIN=pixelfed.ddev.site
  - ADMIN_DOMAIN=pixelfed.ddev.site
  - SESSION_DOMAIN=pixelfed.ddev.site
  - TRUST_PROXIES=*
  - LOG_CHANNEL=stack
  - STORIES_ENABLED=true
